@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: white; /* Set background color to white */
    color: rgb(0, 0, 0); /* Set text color to black */
}

header {
    position: fixed; /* Make the header fixed */
    top: 0; /* Align the header to the top of the page */
    width: 100%; /* Make the header take up the full width of the viewport */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
    background-color: white; /* Set the background color of the header */
    z-index: 1000; /* Ensure the header appears above other content */
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #318CE7;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #0088a9;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    justify-content: center; /* Center align items horizontally */
}

.nav_links li {
    padding: 0px 10px; /* Reduce padding */
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    margin-left: 10px; /* Add margin-left */
}


button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}






/* Article styling */

article {
    max-width: 100%;
    padding: 20px;
    min-height: calc(100vh - 90px); /* Adjusted min-height */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative; /* Add position relative */
    
}

article::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the opacity here (0.6 is less transparent) */
    z-index: -1; /* Ensure the overlay is behind other content */
}

article img {
    max-width: 40%;
    height: auto;
    margin-left: auto;
}

article .content {
    max-width: 55%;
    margin-right: 20px;
}

h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

/* Different background images for different pages */
#page1 {
    background-color: rgb(239, 239, 239);
    min-height: 100vh;
    
}

#page2 .content {
    max-width: 55%;
    margin-left: 20px;
}

#page2 img {
    max-width: 40%;
    height: auto;
    margin-right: auto;
}
#page3 .content {
    max-width: 55%;
    margin-left: 20px;
}

#page3 img {
    max-width: 40%;
    height: auto;
    margin-right: auto;
}
